<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- head.title.toString() %>
    <%- head.meta.toString() %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/<%- webpackAsset('bundle', 'css') %>" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://d1veuho0pmz1bg.cloudfront.net/assets/favicon_16-b9f1bd4005ba8aa659f2fadf09f21515a46ef92a95102a6022969364abebb38b.png">
  </head>
  <body>
    <div id="app"><%- content %></div>
    <script type="text/javascript" src="/<%- webpackAsset('vendor', 'js') %>"></script>
    <script type="text/javascript" src="/<%- webpackAsset('bundle', 'js') %>"></script>
  </body>
</html>
